# Template GoodVibe © 2026 Jean-Noël Lefebvre (Le Cinquième Jour) — PolyForm Noncommercial 1.0.0, voir LICENSE.md
# Tous les fichiers texte sont en fins de ligne LF (format Linux), dans le dépôt comme sur la machine :
# les scripts du serveur (.sh) ne cassent jamais, quel que soit le système de celui qui les écrit.
# Les fichiers binaires (images, bases) sont détectés et laissés tels quels.
* text=auto eol=lf
